body {
	background-color: #59ABE3;
}
h1 {
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	margin-bottom: -5px;
}
hr {
	width: 15%;
	text-decoration: none;
	height: 1px;
	color: white;
	background-color: white;
	border:0;
	margin-bottom: -30px;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
 ul.flexbox{
  display: -webkit-box;
}
 li {
  float: left;
  padding: 0;
  margin: 0 5px 10px 5px;
 } 
 li a {
  display: block;
  text-decoration: none;
 }
 li img {
 	padding: 7px; margin: 0;
 }
.top {
	margin-left: 200px;
	margin-top: 125px;
}
.drive {
	margin-top: 125px;
}
.gplus {
	margin-top: 125px;
}
.bottom {
	margin-left: 450px; 
}
