body {
	background-color: #36D7B7;
}
h1 {
	width:250px;
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	margin-bottom: -5px;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
 ul.flexbox{
  display: -webkit-box;
}
 li {
  float: left;
  padding: 0;
  margin: 0 5px 10px 5px;
 } 
 li a {
  display: block;
  text-decoration: none;
 }
 li img {
 	padding: 7px; margin: 0;
 }
.top {
	margin-left: 200px;
	margin-top: 125px;
}
.top:hover {
	background-color: #DADFE1;
}
.drive {
	margin-top: 125px;
}
.drive:hover {
	background-color: #DADFE1;
}
.gmail {
	margin-top: 125px;
}
.gmail:hover {
	background-color: #DADFE1;
}
.plus:hover {
	background-color: #DADFE1;
}
.dic:hover {
	background-color: #DADFE1;
}
.bottom {
	margin-left: 450px; 
}
.bottom:hover {
	background-color: #DADFE1;
}
.middle:hover {
	background-color: #DADFE1;
}
.google:hover {
	background-color: #DADFE1;
}
.places:hover {
	background-color: #DADFE1;
}
